<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
</head>
<body>
    <center>
    <table border="5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Credit Card</th>
                <th>Password</th>
                <th>Address</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${Users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.creditCard}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.address}"></td>
                <td th:text="${user.phoneNumber}"></td>
            </tr>
        </tbody>
    </table>
</center>
</body>
</html>